{%- block field -%} {# this block exists for whitespace control #}
{%- set errors = errors | default([]) -%}
<div data-hb-field-name="{{ field_name }}" class="hb-field {{ css|default('') }}" {% for attr, val in html_attributes %} {{ attr }}="{{ val }}" {% endfor %} {% if widget_enabled %} data-jsb="{{ widget_options|json_encode }}" {% endif %}>
    <div class="hb-field__content">
        <div class="hb-field__label">
            <label for="{{ field_id }}">{{ _(field_name~'.field_name', translation_domain) }}</label>
        </div><!--
        --><div class="hb-field__value">
        {% spaceless %}
            <div class="datepicker-controls-wrapper">
                <input type="text" class="datepicker-input {% if readonly is not empty %}readonly{% endif %}" name="{{ grouped_field_name }}" value="{{ attribute_value }}" id="{{ field_id }}"
                {{ readonly|default('') }} {{ disabled|default('') }} {{ required|default('') }} maxlength="{{ maxlength|default('') }}"
                {{ pattern|default('')|raw }} placeholder="{{ translations.placeholder|default('') }}" title="{{ translations.title|default('') }}" />
                {% if readonly is empty and disabled is empty and widget_enabled %}
                <button type="button" class="datepicker-toggle" style="display: none;">
                    <span class="datepicker-toggle__icon"></span>
                    <span class="datepicker-toggle__label">{{ _('toggle', translation_domain) }}</span>
                </button>
                {% endif %}
            </div>
            <ul class="errors">
                {%- block field_errors  -%}
                    {%- for error in errors -%}
                        <li class="error">{{error}}</li>
                    {%- endfor -%}
                {%- endblock  -%}
            </ul>
            {% if translations.input_help is defined %}
                <div class="input_help">{{ translations.input_help|raw }}</div>
            {% endif %}
            {% if translations.input_hint is defined %}
                <div class="input_hint">{{ translations.input_hint|raw }}</div>
            {% endif %}
            {% if translations.input_focus_hint is defined %}
                <div class="input_hint focus">{{ translations.input_focus_hint|raw }}</div>
            {% endif %}
        {% endspaceless %}
        </div><!--
        --><div class="hb-field__extra">
            <input type="hidden" value="{{ attribute_value }}" class="initialvalue" />
            {%- block datetime_field_extra -%}{%- endblock -%}
        </div>
    </div>
</div>
{%- endblock field -%}
