<button type="submit" name="__submit" value="{{ activity.name }}" title="{{ activity_description }}" class="{{ css|default('')|join(' ') }} {{ activity.settings.css|default('')|join(' ') }}" rel="{{ activity.rels|default([])|join(' ') }}" {% if disabled %}disabled="disabled"{% endif %}>{{ activity_label }}</button>
