<button type="submit" name="__submit" value="{{ activity.name }}" title="{{ activity_description }}" class="{{ css|join(' ') }} {{ activity.settings.css|default('')|join(' ') }}" rel="{{ activity.rels|join(' ') }}" {% if disabled %}disabled="disabled"{% endif %}>{{ activity_label }}</button>
