<a
    href="{{ link }}"
    rel="{{ activity.rels|join(' ') }}"
    class="{{ css|join(' ') }} {{ activity.settings.css|default('')|join(' ') }}"
    title="{{ _(activity.description, translation_domain) }}"
    data-hb-translation-domain="{{ translation_domain }}"
    {% if disabled %} tabindex="-1"{% endif %}
>{{ _(activity.label, translation_domain) }}</a>