<a href="{{ link }}" rel="{{ activity.rels|join(' ') }}" class="{{ css|join(' ') }} {{ activity.settings.css|default('')|join(' ') }}" title="{{ activity_description }}" {% if disabled %} tabindex="-1"{% endif %}>{{ activity_label }}</a>
