{% extends _layout %}

{% block toc %}
    <h1>Create</h1>
{% endblock %}


{% block primary_activities %}
    <div class="primary-activities">
        {{ _rendered_primary_activities|raw }}
    </div>
{% endblock primary_activities %}


{% block primary %}
<form method="post" action="{{ ro.gen(null) }}" name="editform" id="editform" enctype="multipart/form-data">

    <div class="hb-modifyitem-wrapper">
        {{ rendered_resource|raw }}
    </div>

    <div class="controls controls-bottom">
        <div class="controls-layout">
            <div class="primary-activities-box">
                {{ block('primary_activities') }}
            </div>
        </div>
    </div>
</form>
{% endblock %}


{% block secondary %}
<div class="sidebar">
    <input type="checkbox" id="sidebar-trigger" class="sidebar__trigger">
    <label for="sidebar-trigger" class="sidebar__toggle sidebar__toggle-open">{{ _('sidebar') }}</label>
    <label for="sidebar-trigger" class="sidebar__backdrop"></label>
    <div class="sidebar__panel">
        <label for="sidebar-trigger" class="sidebar__toggle sidebar__toggle-close">{{ _('sidebar') }}</label>
        <div class="sidebar-content-layout">
        </div>
    </div>
</div>
{% endblock %}
