{%- block field -%} {# this block exists for whitespace control #}
{%- set isReadable = not (disabled == 'disabled' or readonly == 'readonly') -%}
{%- set add_images = translations.add_images | default('add_images') -%}
<div class="hb-field {{ css|default('') }} {% if widget_enabled %}{% if not is_embedded %}jsb_{% endif %} hb-js-imagelist jsb_Honeybee_Core/ui/ImageList{% endif %}"
    {% if widget_enabled %} data-jsb="{{ widget_options|json_encode }}" {% endif %}
    data-id="{{field_id}}" data-hb-field-name="{{ field_name }}" {% for attr, val in html_attributes %} {{ attr }}="{{ val }}" {% endfor %}
    data-attribute-path="{{ attribute_path }}" data-resource-type-prefix="{{ resource_type_prefix }}" data-resource-type-name="{{ resource_type_name }}"
    data-resource-identifier="{{ resource_identifier }}" data-upload-url="{{ upload_url }}" data-grouped-field-name="{{ grouped_field_name }}" data-grouped-base-path="{{grouped_base_path}}">
    <div class="popup-content-here"></div>
    <div class="hb-field__content">
        <div class="hb-field__label">
            <label for="{{ field_id }}" class="{#mandatory#}">{{ _(field_name~'.field_name', translation_domain) }}</label>
        </div><!--
        --><div class="hb-field__value">
            <div class="imagelist">
                <div class="imagelist_input-multiple">
                    <input id="{{field_id}}_multiple" type="file" multiple class="imagelist__input-multiple-trigger" {{ disabled }} />
                    <label class="imagelist__input-multiple-label hide" for="{{field_id}}_multiple">{{ _(add_images, translation_domain) }}</label>
                </div>
                <div class="imagelist-tabs">
                    {% set tabs_id = 'hb-tabs-' ~ field_id %}
                    <div class="imagelist-tabs__header">
                        <ul class="imagelist-tabs__toggles">
                            <li class="imagelist-tabs__toggle imagelist__thumb newitem" data-item-id="{{ 'add-image-to-' ~ field_id }}">
                                <label for="{{tabs_id}}-add-image-to-{{ field_id }}">
                                    <img src="static/themes/honeybee/binaries/150x150.gif" alt="" class="imagelist__thumb-img"/>
                                </label>
<progress max="100" value="50">
    <div class="progress-bar">
        <span style="width: 50%;">uploading…</span>
    </div>
</progress>
                                {% if isReadable %}
                                <div class="imagelist__thumb-controls">
                                    <ul>
                                        <li><a href="javascript:void(0)" class="move left imagelist__thumb-control">&#9664;</a></li>
                                        <li><a href="javascript:void(0)" class="remove imagelist__thumb-control">&#10060;</a></li>
                                        <li><a href="javascript:void(0)" class="move right imagelist__thumb-control">&#9654;</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </li>
                            {%- for image in images -%}
                            <li class="imagelist-tabs__toggle imagelist__thumb" data-item-id="{{image.id}}">
                                <label for="{{tabs_id}}-{{image.id}}">
                                    <img src="{{image.thumb_url}}" title="{{image.title|default('')}}" alt="Thumbnail: {{image.caption|default(image.title)|default('')}}" class="imagelist__thumb-img"/>
                                </label>
                                {% if isReadable %}
                                <div class="imagelist__thumb-controls">
                                    <ul>
                                        <li><a href="javascript:void(0)" class="move left imagelist__thumb-control">&#9664;</a></li>
                                        <li><a href="javascript:void(0)" class="remove imagelist__thumb-control">&#10060;</a></li>
                                        <li><a href="javascript:void(0)" class="move right imagelist__thumb-control">&#9654;</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </li>
                            {%- endfor -%}
                        </ul>
                    </div><!--
                    --><div class="imagelist-tabs__content">
                        {%- if isReadable -%}
                            {# add empty input elements to add a new image when javascript is not available or did not load #}
                            {%- include "html/attribute/image-list/image-as-tabs-panel.twig" with {
                                item_id: 'add-image-to-' ~ field_id,
                                grouped_base_path: grouped_base_path ~"[0]",
                                tabs_id: tabs_id,

                                image_id: 'add-image-to-' ~ field_id,
                                thumb_url: "static/themes/honeybee/binaries/150x150.gif",
                                preview_url: "static/themes/honeybee/binaries/150x150.gif",
                                download_url: "static/themes/honeybee/binaries/150x150.gif",
                                location: "",
                                title: "",
                                caption: "",
                                copyright: "",
                                copyright_url: "",
                                source: "",
                                aoi: "",
                                meta_data: {},

                                newitem: true,

                                readonly: readonly,
                                disabled: disabled,
                            } -%}
                        {% endif %}
                        {%- for image in images -%}
                            {%- include "html/attribute/image-list/image-as-tabs-panel.twig" with {

                                item_id: image.id,
                                grouped_base_path: grouped_base_path ~"["~ loop.index ~"]",
                                tabs_id: tabs_id,

                                image_id: image.id,
                                thumb_url: image.thumb_url,
                                preview_url: image.preview_url,
                                download_url: image.download_url,
                                location: image.location,
                                title: image.title,
                                caption: image.caption,
                                copyright: image.copyright,
                                copyright_url: image.copyright_url,
                                source: image.source,
                                aoi: image.aoi,
                                meta_data: image.meta_data,

                                newitem: false,

                                readonly: readonly,
                                disabled: disabled,
                            } -%}
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div><!--
        --><div class="hb-field__extra">
        </div>
    </div>
</div>
{%- endblock field -%}
