{%- if location is not defined %}{% set location = "" %}{% endif -%}
{%- set alt = caption|default(title)|default('') -%}
{%- set isReadable = not (disabled == 'disabled' or readonly == 'readonly') -%}
<li
    data-item-id="{{item_id}}"
    class="imagelist__item {{newitem ? "newitem": "item"}}"
    data-form-name="{{form_name}}"
>
    <input
        type="radio"
        id="{{item_id}}__switch"
        name="{{field_id}}__switch"
        class="imagelist__image-switch"
        {% if checked %}checked{%endif%}
    />
    <div class="imagelist__item-content">
        <div data-item-id="{{item_id}}" class="imagelist__thumb">
            <label for="{{item_id}}__switch">
                <img src="{{image_url}}" title="Click to enlarge and show details" alt="Thumbnail: {{alt}}" />
            </label>
            {% if isReadable %}
            <a class="move left">&#9664;</a>
            <a class="move right">&#9654;</a>
            {% endif %}
        </div>

        <div class="imagelist__image" data-field-id="{{field_id}}" data-item-id="{{item_id}}">
            <div class="imagelist__image-content">
                <div class="imagelist__image-img-wrapper">
                    <img src="{{image_url}}" title="{{title|default('')}}" alt="{{caption|default(title)|default('')}}" class="imagelist__image-img"/>
                    {% if isReadable %}
                    <div class="imagelist__item-controls" data-fpf-ignore>
                        <input id="{{item_id}}_file" type="file" class="imagelist__image-input" name="{{form_name}}[file]" {{ disabled }} {{ required }} /><!--
                        --><input id="{{item_id}}_location" type="hidden" class="imagelist__image-location"
                        name="{{form_name}}[location]" placeholder="location" value="{{ location }}" {{ disabled }} /><!--
                        --><label class="imagelist__upload-label visuallyhidden" for="{{item_id}}_file">Change Image</label><!--
                        --><button
                            data-item-id="{{item_id}}" {{ disabled }}
                            class="imagelist__image-aoi visuallyhidden"
                            tabindex="-1">Area of interest</button><!--
                        --><button
                            data-item-id="{{item_id}}" {{ disabled }}
                            class="imagelist__image-aoi-accept visuallyhidden"
                            tabindex="-1">Accept</button><!--
                        --><button
                            data-item-id="{{item_id}}" {{ disabled }}
                            class="imagelist__image-aoi-cancel visuallyhidden" tabindex="-1">Cancel</button>
                    </div>
                    <div class="input-checkbox">
                        <input
                            id="{{item_id}}_delete"
                            type="checkbox"
                            name="{{form_name}}[delete]"
                            class="imagelist__delete-input"
                            data-item-id="{{item_id}}"
                            {{ disabled }}
                        />
                        <label for="{{item_id}}_delete" class="input-proxy"></label>
                        <label for="{{item_id}}_delete">Delete image from list</label>
                    </div>
                    {% endif %}
                </div><div class="imagelist__inputs-wrapper">
                    <label class="imagelist__label-title">Title <input type="text" id="{{item_id}}-title" name="{{form_name}}[title]" value="{{title}}" {{readonly}} {{disabled}} /><ul class="errors"></ul></label>
                    <label class="imagelist__label-caption">Caption <input type="text" id="{{item_id}}-caption" name="{{form_name}}[caption]" value="{{caption}}" {{readonly}} {{disabled}} /><ul class="errors"></ul></label>
                    <label class="imagelist__label-copyright">Copyright <input type="text" id="{{item_id}}-copyright" name="{{form_name}}[copyright]" value="{{copyright}}" {{readonly}} {{disabled}} /><ul class="errors"></ul></label>
                    <label class="imagelist__label-copyright-url">Copyright URL <input type="url" id="{{item_id}}-copyright-url" name="{{form_name}}[copyright_url]" value="{{copyright_url}}" {{readonly}} {{disabled}} /><ul class="errors"></ul></label>
                    <label class="imagelist__label-source">Source <input type="text" id="{{item_id}}-source" name="{{form_name}}[source]" value="{{source}}" {{readonly}} {{disabled}} /><ul class="errors"></ul></label>
                    <label class="imagelist__label-aoi">Area of Interest <input type="text" id="{{item_id}}-aoi" name="{{form_name}}[aoi]"
                        value="{{aoi}}" class="imagelist__aoi-input" value="{{ aoi }}" {{readonly}} {{disabled}} /><ul class="errors"></ul></label>
                    {% if meta_data %}
                        <label class="" for="{{item_id}}_meta-data-trigger">
                            <h3>Meta data</h3>
                        </label>
                        <input type="checkbox" id="{{item_id}}_meta-data-trigger"
                        class="imagelist__meta-data-trigger visuallyhidden" {{disabled}} />
                        <div class="imagelist__meta-data">
                        {% for meta_name, meta_value in meta_data %}
                            <label class="imagelist__label-meta-data imagelist__label-meta-data-{{meta_name}}">
                                {{meta_name}}
                                <input
                                    type="text"
                                    name="{{form_name}}[meta_data][{{meta_name}}]"
                                    value="{{meta_value}}"
                                    readonly
                                />
                                <ul class="errors"></ul>
                            </label>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </label>
    </div>
</li>{# comment to fix Twig whitespace problem #}
