<div class="hb-field {{ css|default('') }} visuallyhidden" data-hb-field-name="{{ field_name }}" {% for attr, val in html_attributes %} {{ attr }}="{{ val }}" {% endfor %}>
    <div class="hb-field__content">
        <div class="hb-field__value">
            <input
                type="hidden"
                value="{{ attribute_value }}"
                id="{{ field_id }}"
                name="{{ grouped_field_name }}"
                {{ disabled }}
            />
        </div>
    </div>
</div>
