<div class="hb-field {{ css|default('') }}" data-hb-field-name="{{ field_name }}">
    <div class="hb-field__content">
        <div class="hb-field__label">{{ _(field_name~'.field_name', translation_domain) }}</div><!--
        --><div class="hb-field__value">
            <a
                href="{{ attribute_value }}"
                {% if open_in_blank %}
                target="__blank"
                {% endif %}
            >{{ attribute_value }}</a>
        </div>
    </div>
</div>
