{%- block field -%} {# this block exists for whitespace control #}
<td class="hb-field {{ css|default('') }}" data-title="{{ _(field_name~'.field_name', translation_domain) }}" {% for attr, val in
html_attributes %} {{ attr }}="{{ val }}" {% endfor %}><a href="{{ attribute_value }}" {% if open_in_blank %}target="__blank" rel="noopener noreferrer"{% endif %}>{{ attribute_value }}</a></td>
{%- endblock field -%}
