{%- block field -%} {# this block exists for whitespace control #}
<div class="hb-field {{ css|default('') }}" data-hb-field-name="{{ field_name }}">
    <div class="hb-field__content">
        <div class="hb-field__label">{{ _(field_name~'.field_name', translation_domain) }}</div><!--
        --><div class="hb-field__value">
            {%- if attribute_value is iterable -%}
                <ul class="html-link-list">
                {%- for htmllink in attribute_value -%}
                    <li><a href="{{ htmllink.href|default('') }}" target="__blank" rel="noopener noreferrer" title="{{ htmllink.title|default('') }}">{{ htmllink.text|default(htmllink.href|default('missing')) | truncate(options.truncate|default(30), false, "…") }}</a>
                {%- endfor -%}
                </ul>
            {% endif%}
        </div>
    </div>
</div>
{%- endblock field -%}
