{%- set widget_classes = widget_classes|default('jsb_ jsb_Honeybee_Core/ui/list-filter/BooleanListFilter') -%}

{%- extends 'html/list_filter/default_list_filter.twig' -%}
{%- block filter_input %}
<div class="hb-list-filter__boolean hb-list-filter__boolean-layout layout--flush">
    <div class="1/2 hb-list-filter__boolean-box">
        <input id="list_filter_{{ config_key }}_control_1" type="radio" name="filter[{{ filter_name }}]" value="1" {% if filter_value == '1' %}checked{% endif %}>
        <label for="list_filter_{{ config_key }}_control_1" class="hb-list-filter__boolean-label">{{ translations.value_1 }}</label>
    </div><!--
    --><div class="1/2 hb-list-filter__boolean-box">
        <input id="list_filter_{{ config_key }}_control_0" type="radio" name="filter[{{ filter_name }}]" value="0" {% if filter_value == '0' %}checked{% endif %}>
        <label for="list_filter_{{ config_key }}_control_0" class="hb-list-filter__boolean-label">{{ translations.value_0 }}</label>
    </div>
</div>
{%- endblock -%}