{%- set widget_classes = widget_classes|default('jsb_ jsb_Honeybee_Core/ui/ListFilter') -%}

{%- block list_filter -%} {# this block exists for whitespace control #}
<li class="hb-list-filter hb-list-filter-{{ filter_name|escape('css') }} hb-list-filters__list-item {{ css|default('') }} {{ widget_classes }} {% if filter_value is not null %}hb-list-filter--active{% endif %} hb-list-filter--prevent-autotoggle"
    id="list_filter_{{ config_key }}" data-hb-filter-id="{{ config_key }}" data-hb-filter-name="{{ filter_name }}"
    {% if widget_enabled %} data-jsb="{{ widget_options|json_encode }}" {% endif %}>

    {%- block quick_control %}
    <div class="hb-list-filter__quick-control">
         <label class="hb-list-filter__quick-label hb-list-filter__toggle" for="hb-list-filter-{{ filter_name }}__trigger" title="{{ translations.quick_label_title|default('') }}" tabindex="0">{{ translations.quick_label_with_current_value|default(filter_name~': '~filter_value) }}</label>
        <span class="hb-list-filter__clear" title="{{ translations.quick_clear_title|default('') }}" tabindex="0">{{ translations.quick_clear|default('x') }}</span>
    </div>
    {% endblock -%}

    {%- block filter_control %}
    <input type="checkbox" id="hb-list-filter-{{ filter_name }}__trigger" class="hb-list-filter__trigger">
    <div class="hb-list-filter__content">
        <div class="hb-list-filter__filter-control">
            <div class="hb-list-filter__label">
                <label for="list_filter_{{ config_key }}_control">{{ translations.filter_label_with_current_value|default(filter_name~': '~filter_value)}}</label>
            </div><!--
            --><div class="hb-list-filter__value">
                    {% if form_parameters is not empty -%}
                        <form action="{{ form_url }}" method="GET" class="hb-list-filter__form" id="filter_{{ filter_name }}_form">
                            {% for param_name, param_value in form_parameters if param_name != 'filter[' ~filter_name~ ']' -%}
                                <input type="hidden" name="{{ param_name }}" value="{{ param_value }}">
                            {%- endfor -%}
                    {% endif -%}

                    {%- block filter_input %}
                    <input id="list_filter_{{ config_key }}_control" type="text" value="{{ filter_value|escape('html_attr') }}" name="filter[{{ filter_name }}]"
                        {{ readonly|default('') }} {{ disabled|default('') }} {{ required|default('') }} maxlength="{{ maxlength|default('') }}" {{ pattern|default('')|raw }}
                        placeholder="{{ translations.filter_placeholder|default('') }}" title="{{ translations.filter_label|default('') }}">
                    {% endblock -%}

                    {% if form_parameters is not empty %}
                        </form>
                    {% endif %}
            </div>
        </div>
    </div>
    {% endblock -%}
</li>
{%- endblock -%}