{% extends _layout %}

{% block toc %}
    <h1>edit <b>{{resource.identifier}}</b></h1>
{% endblock %}

{% block primary_activities %}
    <div class="primary-activities">
        {{ _rendered_primary_activities|raw }}
    </div>
{% endblock primary_activities %}

{% block primary %}
<form method="post" action="{{ ro.gen(null) }}" name="editform" id="editform" enctype="multipart/form-data">

    <div class="hb-modifyitem-wrapper">
        {{ rendered_resource|raw }}
    </div>

    <div class="controls controls-bottom">
        <div class="controls-layout">
            <div class="pager-box">
                {{ block('primary_activities') }}
            </div>
        </div>
    </div>
</form>
{% endblock %}


