{#

English email template for password reset functionality.

Available blocks for email templates are:

{% block from -%}{{ sender.email }}{%- endblock %}
{% block to -%}{{ recipient.email }}{%- endblock %}
{% block cc -%}cc@example.com{%- endblock %}
{% block bcc -%}bcc@example.com{%- endblock %}
{% block sender -%}sender@example.com{%- endblock %}
{% block reply_to -%}contact@example.com{%- endblock %}
{% block return_path -%}bounces@example.com{%- endblock %}
{% block body_text -%}some text{%- endblock %}
{% block body_html -%}some html{%- endblock %}

For HTML emails there's a "app/templates/Html.mail.twig" file with
an emabeddable HTML structure whose most important block is called
"html_content" (to define the actual mail content).

#}

{% block subject -%}{{ ac('core.app_name')|default("Honeybee") }} {{ subject|default("| Reset Password") }}{%- endblock %}


{% block body_text -%}
Hello,

you receive this message as a new password was requested for your account on the content management system of the project "{{ ac('core.app_name') }}".
To set a new password click the following link. On the page behind that link you can type in a new password:

{{ user_password_link }}

Important: Even though the system stores passwords encrypted you should take care to choose hard to guess passwords.
Please do not use the same password on multiple internet pages.

This email was generated automatically.
{%- endblock %}


{% block body_html -%}
    {% embed "html/layout/MailLayout.mail.twig" %}

        {% block html_head_title -%}
{{ ac('email.app_name')|default(ac('core.app_name')|default('Honeybee')) }} {{ subject|default("| Reset Password") }}
        {%- endblock %}

        {% block html_content -%}
<p>Hello,
<br><br>
you receive this message as a new password was requested for your account on the content management system
of the "{{ ac('email.app_name')|default(ac('core.app_name')|default('Honeybee')) }}" project. To set a new password click the following link. On the page
behind that link you can type in a new password:
<br><br>
<a href="{{ user_password_link }}" title="Go to the password reset page">{{ user_password_link }}</a>
<br><br>
Important: Even though the system stores passwords encrypted you should take care to choose hard to guess passwords.
Please do not use the same password on multiple internet pages.
<br><br>
This email was generated automatically.
</p>
        {%- endblock %}

    {% endembed %}
{%- endblock %}
