{#

Deutschsprachige Emailvorlage für die Passwort-Zurücksetzen-Funktionalität.

Verfügbare Blöcke für Emailvorlagen sind:

{% block from -%}{{ sender.email }}{%- endblock %}
{% block to -%}{{ recipient.email }}{%- endblock %}
{% block cc -%}cc@example.com{%- endblock %}
{% block bcc -%}bcc@example.com{%- endblock %}
{% block sender -%}sender@example.com{%- endblock %}
{% block reply_to -%}contact@example.com{%- endblock %}
{% block return_path -%}bounces@example.com{%- endblock %}
{% block body_text -%}some text{%- endblock %}
{% block body_html -%}some html{%- endblock %}

Für HTML-Emails gibt es in der Datei "app/templates/Html.mail.twig" ein
einbettbares Grundgerüst dessen wichtigster Block "html_content" dann
mit Inhalten gefüllt werden sollte.

#}


{% block subject -%}{{ ac['core.app_name'] | default("Honeybee") }} {{ subject | default("| CMS-Kennwort zurücksetzen") }}{%- endblock %}


{% block body_text -%}
Hallo,

Sie erhalten diese Nachricht, weil im Content Management System des Projekts "{{ ac['core.app_name'] }}" ein neues Passwort für Sie angefordert wurde.
Um sich neues Passwort zu erstellen, klicken Sie bitte auf den unten stehenden Link. Auf der Internetseite, die sich hinter diesem Link verbirgt, haben Sie die Möglichkeit, das neue Passwort zu hinterlegen.

{{ user_password_link }}

Aus Sicherheitsgründen wird dieser Link nach 20 Minuten inaktiv. Danach können Sie sich diese E-Mail noch einmal zuschicken lassen.
Wichtig für Sie: Auch wenn Ihr Passwort verschlüsselt abgespeichert wird, sollten Sie darauf achten, stets schwer zu erratende Passwörter zu verwenden.
Benutzen Sie beispielsweise niemals auf zwei Internetseiten dasselbe Passwort.

Diese E-Mail wurde automatisch erstellt.
{%- endblock %}


{% block body_html -%}
    {% embed "html/layout/MailLayout.mail.twig" %}

        {% block html_head_title %}{{ ac['core.app_name'] | default("Honeybee") }} {{ subject | default("| CMS-Kennwort zurücksetzen") }}{% endblock %}

        {% block html_content -%}
<p>Hallo,
<br><br>
Sie erhalten diese Nachricht, weil im Content Management System des Projekts "{{ ac['core.app_name'] }}" ein neues Passwort für Sie angefordert wurde.
Um sich neues Passwort zu erstellen, klicken Sie bitte auf den unten stehenden Link. Auf der Internetseite, die sich hinter diesem Link verbirgt, haben Sie die Möglichkeit, das neue Passwort zu hinterlegen.
<br><br>
<a href="{{ user_password_link }}" title="Zur Passwort zurücksetzen Seite springen">{{ user_password_link }}</a>
<br><br>
Aus Sicherheitsgründen wird dieser Link nach 20 Minuten inaktiv. Danach können Sie sich diese E-Mail noch einmal zuschicken lassen.
Wichtig für Sie: Auch wenn Ihr Passwort verschlüsselt abgespeichert wird, sollten Sie darauf achten, stets schwer zu erratende Passwörter zu verwenden.
Benutzen Sie beispielsweise niemals auf zwei Internetseiten dasselbe Passwort.
<br><br>
Diese E-Mail wurde automatisch erstellt.
</p>
        {%- endblock %}

    {% endembed %}
{%- endblock %}
