{%- block userwidget -%}

<div class="user-widget {{ user_data.avatar_url is empty and not ac('ui.enable_gravatar', gravatar_enabled|default(false)) ? ' user-widget--no_avatar' }}" >
    {% if user_data.avatar_url is empty and ac('ui.enable_gravatar', gravatar_enabled|default(false)) %}
        <img class="user-widget__avatar base-dropdown__toggle-icon" src="//www.gravatar.com/avatar/noavatar" />
    {% elseif user_data.avatar_url is not empty %}
        <img class="user-widget__avatar base-dropdown__toggle-icon" src="{{ user_data.avatar_url }}" />
    {% endif %}
    {% embed 'html/dropdown.twig' with {
            name: 'user-dropdown',
            user_data: user_data,
            toggle_disabled: toggle_disabled|default(false),
            emphasized: emphasized|default(true),
            dropdown_css: css|default(''),
        } only
    %}
        {% block default %}
            <span class="user-widget__label">{{ user_data.name|trim|default(user_data.login) }}</span>
        {% endblock %}
        {% block more %}
            <ul>
                {#<li><a href="javascript:void" rel="profile" class="activity navigational" title="{{ _('Change your profile') }}">{{ _('Profile') }}</a></li> #}
                <li><a href="/honeybee-system_account-user/logout" class="activity warning"
                        title="{{ _('leave_the_system', 'honeybee.system_account.user.ui') }}">{{ _('logout', 'honeybee.system_account.user.ui') }}</a>
            </ul>
        {% endblock %}
    {% endembed %}
</div><!-- .user-widget -->
{%- endblock userwidget -%}
