{%- block userwidget -%}
{% if us.isAuthenticated() %}
<div class="user-widget-wrapper">
    <div class="user-widget" >
        {% embed 'html/dropdown.twig' with {
                name: 'user-dropdown',
                toggle_disabled: false
            } only
        %}
            {% block default %}
                {% set avatar_url = us.getAttribute('avatar_url') %}

                {% if avatar_url is empty %}
                    <img class="user-widget__avatar base-dropdown__toggle-icon" src="//www.gravatar.com/avatar/noavatar" />
                {% else %}
                    <img class="user-widget__avatar base-dropdown__toggle-icon" src="{{ avatar_url }}" />
                {% endif %}
                <span class="user-widget__email">{{ us.getAttribute('name')|trim|default(us.getAttribute('login')) }}</span>
            {% endblock %}
            {% block more %}
                <ul>
                    {#<li><a href="javascript:void" rel="profile" class="activity navigational" title="{{ _('Change your profile') }}">{{ _('Profile') }}</a></li> #}
                    <li><a href="/honeybee-system_account-user/logout" class="activity warning"
                            title="{{ _('leave_the_system', 'honeybee.system_account.user.ui') }}">{{ _('logout', 'honeybee.system_account.user.ui') }}</a>
                </ul>
            {% endblock %}
        {% endembed %}
    </div><!-- .user-widget -->
</div><!-- .user-widget-wrapper -->
{% endif %}
{%- endblock userwidget -%}
