{% extends _layout %}

{% block toc %}
    <h1>history for <b>{{resource.identifier}}</b></h1>
{% endblock %}

{% block primary %}
<ul>
{% for event in events_data %}
    <li><a href="{{ event.url }}" title="{{ _('View resource in this revision') }}">{{ event.data.seq_number }}) {{ event.data['@type'] }}, ISO-Timestamp: {{ event.data.iso_date }}</a></li>
{% endfor %}
<ul>
{% endblock %}
