#password_requirements
    / mandatory password metrics
    %p.requirments-label Die folgenden Kriterien sind erforderlich
    %ul.password_requirements.mandatory
        %li.min_string_length
            %span.hb-icon-spam
            %span.hb-icon-checkmark-circle
            %span
                = _('Min. %d characters long', 'honeybee.system_account.user.ui', null, [ password_meter_options.requirements.min_string_length ])
        %li.min_lowercase_chars
            %span.hb-icon-spam
            %span.hb-icon-checkmark-circle
            %span
                = _('Min. %d lowercase letters', 'honeybee.system_account.user.ui', null, [ password_meter_options.requirements.min_lowercase_chars ])
        %li.min_uppercase_chars
            %span.hb-icon-spam
            %span.hb-icon-checkmark-circle
            %span.req-text
                = _('Min. %d uppercase characters', 'honeybee.system_account.user.ui', null, [ password_meter_options.requirements.min_uppercase_chars ])
        %li.min_decimal_numbers
            %span.hb-icon-spam
            %span.hb-icon-checkmark-circle
            %span.req-text
                = _('Min. %d numeric characters', 'honeybee.system_account.user.ui', null, [ password_meter_options.requirements.min_decimal_numbers ])
    / optional password metrics
    %p.requirments-label Optional wird empfohlen
    %ul.password_requirements.password_requirements-optional
        %li.min_lowercase_chars
            %span.hb-icon-spam
            %span.hb-icon-checkmark-circle
            %span
                = _('lowercase letters', 'honeybee.system_account.user.ui', null, [ password_meter_options.requirements.min_lowercase_chars ])
        %li.min_uppercase_chars
            %span.hb-icon-spam
            %span.hb-icon-checkmark-circle
            %span.req-text
                = _('uppercase letters', 'honeybee.system_account.user.ui', null, [ password_meter_options.requirements.min_uppercase_chars ])
        %li.min_decimal_numbers
            %span.hb-icon-spam
            %span.hb-icon-checkmark-circle
            %span.req-text
                = _('numeric characters', 'honeybee.system_account.user.ui', null, [ password_meter_options.requirements.min_decimal_numbers ])
        %li.special-chars
            %span.hb-icon-spam
            %span.hb-icon-checkmark-circle
            %span.req-text
                = _('special characters', 'honeybee.system_account.user.ui')
    %p zu benutzen, um die Komplexität zu erhöhen.
    / visualization of the current strength
    .progress.strength-scorebar
        .bar
        %ul.password-strengths
            %li = _('weak', 'honeybee.system_account.user.ui')
            %li = _('medium', 'honeybee.system_account.user.ui')
            %li = _('strong', 'honeybee.system_account.user.ui')