<div class="{{ css }}" data-hb-item-identifier="{{ resource.identifier }}" data-hb-item-type="{{ entity_type }}" {% for attr, val in html_attributes %} {{ attr }}="{{ val }}" {% endfor %}><!--
    {% for rendered_field in rendered_fields %}
    -->{{ rendered_field|raw }}<!--
    {% endfor %}
--></div>