<li class="{{ css }}"
    data-hb-item-identifier="{{ resource.identifier }}"
    {% for attr, val in html_attributes %} {{ attr }}="{{ val }}" {% endfor %}
>
    {%- for rendered_field in rendered_fields -%}
        {{- rendered_field|raw -}}
    {%- endfor -%}
    <div class="hb-actions"><!--
        --><div class="hb-actions__content">
            {{- rendered_resource_activities|raw -}}
        </div>
    </div><!-- .hb-actions
--></li>

