{%- block field -%} {# this block exists for whitespace control #}
{%- set errors = errors | default([]) -%}

{# CSS modifiers (differ from entity-reference-list #}
{%- set css = css ~ (is_readonly ? ' hb-field__entity-reference-list--readonly' : '') -%}
{%- set css = css ~ (is_empty ? ' hb-field__entity-reference-list--empty' : '') -%}
{%- set css = css ~ (as_panel ? ' hb-field__entity-reference-list--as_panel' : '') -%}
{%- set css = css ~ (hide_entity_list ? ' hb-field__entity-reference-list--hide_list' : '') -%}


<div class="hb-field hb-field__entity-reference-list {{ css }}" data-jsb="{{ widget_options|json_encode }}" data-hb-field-name="{{ field_name }}" {% for attr, val in html_attributes %} {{ attr }}="{{ val }}" {% endfor %}>
    <div class="hb-field__content">
        {% if options.hide_attribute_label is not defined or not options.hide_attribute_label %}
        <div class="hb-field__label">
            <label for="{{ field_id }}" class="{#mandatory#}">
                {{ _(field_name~'.field_name', translation_domain) }}
            </label>
        </div>
        {% endif %}
        <div class="hb-embed-type-selector visuallyhidden">
            {{ rendered_embed_selector|raw }}
        </div>
        <div class="hb-autocomplete">
            <input type="text" id="{{ field_id }}" {{ readonly }} {{ disabled }} {{ required }} {{ pattern|raw }}
        placeholder="{{ _(autocomplete_translation_key, translation_domain) }}" />
        </div>
    </div>
    <div class="hb-field__value">
        <ul class="errors">
            {%- block field_errors  -%}
                {%- for error in errors -%}
                    <li class="error">{{error}}</li>
                {%- endfor -%}
            {%- endblock  -%}
        </ul>
        {% if translations.input_help is defined %}
            <div class="input_help">{{ translations.input_help|raw }}</div>
        {% endif %}
        {% if translations.input_hint is defined %}
            <div class="input_hint">{{ translations.input_hint|raw }}</div>
        {% endif %}
        {% if translations.input_focus_hint is defined %}
            <div class="input_hint focus">{{ translations.input_focus_hint|raw }}</div>
        {% endif %}
        <input type="hidden" name="{{ grouped_field_name }}" value="" />
        <ul class="hb-entity-list {% if hide_entity_list %}visuallyhidden{% endif %}">
        {%- for rendered_entity in rendered_entities -%}
            {{- rendered_entity|raw -}}
        {%- endfor -%}
        </ul>
        <ul class="hb-entity-list hb-entity-templates {% if inline_mode %}visuallyhidden{% endif %}" data-fpf-ignore>
        {%- for rendered_type_tpl in rendered_type_templates -%}
            {{- rendered_type_tpl|raw -}}
        {%- endfor -%}
        </ul>
    </div>
    <div class="hb-field__extra">
    </div>
</div>
{%- endblock field -%}
