{%- block field -%} {# this block exists for whitespace control #}
<div class="hb-field {{ css|default('') }}" data-hb-field-name="{{ field_name }}">
    <div class="hb-field__content">
        <div class="hb-field__label">{{ _(field_name~'.field_name', translation_domain) }}</div><!--
        --><div class="hb-field__value">
        <a href="{{ attribute_value.href|default('') }}" target="__blank" rel="noopener noreferrer" title="{{ attribute_value.title|default('') }}">{{ attribute_value.text|default('') | truncate(options.truncate|default(30), false, "…") }}</a>
        </div>
    </div>
</div>
{%- endblock field -%}
