{% if wrapper is not defined %}
    {% set wrapper = false %}
{% endif %}

{% set wrapper_name = name | default("unnamed") %}
{% set wrapper_tag = wrapper_tag | default("div") %}
{% set wrapper_css = wrapper_css | default("") %}
{% set wrapper_attr = (wrapper_attr | default({})) | cast_to_array %}

{% set box1 = box1 | default("box1") %}
{% set box1_tag = box1_tag | default("div") %}
{% set box1_css = box1_css | default("") %}
{% set box1_attr = (box1_attr | default({})) | cast_to_array %}

{% set box2 = box2 | default("box2") %}
{% set box2_tag = box2_tag | default("div") %}
{% set box2_css = box2_css | default("") %}
{% set box2_attr = (box2_attr | default({})) | cast_to_array %}

{% set box3 = box3 | default("box3") %}
{% set box3_tag = box3_tag | default("div") %}
{% set box3_css = box3_css | default("") %}
{% set box3_attr = (box3_attr | default({})) | cast_to_array %}

{% set box4 = box4 | default("box4") %}
{% set box4_tag = box4_tag | default("div") %}
{% set box4_css = box4_css | default("") %}
{% set box4_attr = (box4_attr | default({})) | cast_to_array %}

{% set box5 = box5 | default("box5") %}
{% set box5_tag = box5_tag | default("div") %}
{% set box5_css = box5_css | default("") %}
{% set box5_attr = (box5_attr | default({})) | cast_to_array %}

{% set box6 = box6 | default("box6") %}
{% set box6_tag = box6_tag | default("div") %}
{% set box6_css = box6_css | default("") %}
{% set box6_attr = (box6_attr | default({})) | cast_to_array %}

{% set box7 = box7 | default("box7") %}
{% set box7_tag = box7_tag | default("div") %}
{% set box7_css = box7_css | default("") %}
{% set box7_attr = (box7_attr | default({})) | cast_to_array %}

{% if wrapper == true %}
<{{ wrapper_tag }} class="{{ wrapper_name }} {{ wrapper_css }}" {% for attr, val in wrapper_attr %} {{ attr }}="{{ val|e('html_attr') }}" {% endfor %}>
{% endif %}
    <div class="{{ wrapper_name }}-layout">
        <div class="{{ box1 }}-box">
            <div class="{{ box1 }}-wrapper">
                <{{ box1_tag }} class="{{ box1 }} {{ box1_css}}" {% for attr, val in box1_attr %} {{ attr }}="{{ val|e('html_attr') }}" {% endfor %}>{% block box1 %}{% endblock %}</{{ box1_tag }}>
            </div>
        </div><!--
        --><div class="{{ box2 }}-box">
            <div class="{{ box2 }}-wrapper">
                <{{ box2_tag }} class="{{ box2 }} {{ box2_css}}" {% for attr, val in box2_attr %} {{ attr }}="{{ val|e('html_attr') }}" {% endfor %}>{% block box2 %}{% endblock %}</{{ box2_tag }}>
            </div>
        </div><!--
        --><div class="{{ box3 }}-box">
            <div class="{{ box3 }}-wrapper">
                <{{ box3_tag }} class="{{ box3 }} {{ box3_css}}" {% for attr, val in box3_attr %} {{ attr }}="{{ val|e('html_attr') }}" {% endfor %}>{% block box3 %}{% endblock %}</{{ box3_tag }}>
            </div>
        </div><!--
        --><div class="{{ box4 }}-box">
            <div class="{{ box4 }}-wrapper">
                <{{ box4_tag }} class="{{ box4 }} {{ box4_css}}" {% for attr, val in box4_attr %} {{ attr }}="{{ val|e('html_attr') }}" {% endfor %}>{% block box4 %}{% endblock %}</{{ box4_tag }}>
            </div>
        </div><!--
        --><div class="{{ box5 }}-box">
            <div class="{{ box5 }}-wrapper">
                <{{ box5_tag }} class="{{ box5 }} {{ box5_css}}" {% for attr, val in box5_attr %} {{ attr }}="{{ val|e('html_attr') }}" {% endfor %}>{% block box5 %}{% endblock %}</{{ box5_tag }}>
            </div>
        </div><!--
        --><div class="{{ box6 }}-box">
            <div class="{{ box6 }}-wrapper">
                <{{ box6_tag }} class="{{ box6 }} {{ box6_css}}" {% for attr, val in box6_attr %} {{ attr }}="{{ val|e('html_attr') }}" {% endfor %}>{% block box6 %}{% endblock %}</{{ box6_tag }}>
            </div>
        </div><!--
        --><div class="{{ box7 }}-box">
            <div class="{{ box7 }}-wrapper">
                <{{ box7_tag }} class="{{ box7 }} {{ box7_css}}" {% for attr, val in box7_attr %} {{ attr }}="{{ val|e('html_attr') }}" {% endfor %}>{% block box7 %}{% endblock %}</{{ box7_tag }}>
            </div>
    </div>
        </div>
{% if wrapper == true %}
</{{ wrapper_tag }}>
{% endif %}
