<td class="hb-field {{ css|default('') }}" data-title="{{ _(field_name~'.field_name', translation_domain) }}" {% for attr, val in html_attributes %} {{ attr }}="{{ val }}" {% endfor %}><a href="mailto:{{ attribute_value|e('url') }}">{{ attribute_value }}</a></td>
