{%- set isReadable = (disabled is empty and readonly is empty) -%}
{%- set min_count = widget_options.min_count | default(0) -%}
{%- set input_help = translations.input_help | default('') -%}
{%- set input_hint = translations.input_hint | default('') -%}
{%- set input_focus_hint = translations.input_focus_hint | default('') -%}
{%- set placeholder = translations.placeholder | default('') -%}
<div
    class="hb-field {{ css|default('') }}"
    {% if widget_enabled %} data-jsb="{{ widget_options|json_encode }}" {% endif %}
    data-hb-field-name="{{ field_name }}" {% for attr, val in html_attributes %} {{ attr }}="{{ val }}" {% endfor %}>
    <div class="hb-field__content">
        <div class="hb-field__label">
            <label for="{{ field_id }}">{{ _(field_name~'.field_name', translation_domain) }}</label>
        </div><!--
        --><div class="hb-field__value">
            <div class="input-text-list">
                {% for value in attribute_value %}
                    <label class="text-list__item">
                        <input type="checkbox" value="{{value}}" name="{{ grouped_field_name }}" checked {% if not isReadable %}disabled{% endif %} />
                        <span>{{value}}</span>
                    </label>
                {% endfor %}
                <div class="input-text-list__box">
                    <input type="text" name="{{ grouped_field_name }}" id="{{ field_id }}"
                        {{ readonly }} {{ disabled }} {% if attribute_value|length < min_count %}{{ required }}{% endif %} {{ pattern|raw }} placeholder="{{ placeholder }}" />
                </div>
                <ul class="errors"></ul>
                {% if input_help %}
                    <div class="input_help">{{ input_help|raw }}</div>
                {% endif %}
                {% if input_hint %}
                    <div class="input_hint">{{ input_hint|raw }}</div>
                {% endif %}
                {% if input_focus_hint %}
                    <div class="input_hint focus">{{ input_focus_hint|raw }}</div>
                {% endif %}
            </div>
        </div><!--
        --><div class="hb-field__extra"></div>
    </div>
</div>
