<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations
    xmlns="http://berlinonline.de/schemas/honeybee/config/activities/1.0"
    xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0"
>
    <ae:configuration>
        <activity_containers>

            <activity_container scope="{{ vendor_prefix }}.{{ package_prefix }}.{{ resource_prefix }}.resource.modify">
            </activity_container>

            <activity_container scope="{{ vendor_prefix }}.{{ package_prefix }}.{{ resource_prefix }}.resource.modify.primary_activities">
                <activity name="save_resource">
                    <!--
                        Eventual custom 'description' or 'label' can be specified for the activity.
                        Otherwise they will be generated automatically, with the following format:
                            {{ resource_prefix }}.activity.save_resource.description
                            {{ resource_prefix }}.activity.save_resource.label
                    -->
                    <description>save_resource.description</description>
                    <label>save_resource.label</label>
                    <url type="route">null</url>
                    <verb>write</verb>
                    <rels>
                        <rel>activity</rel>
                        <rel>edit_resource</rel>
                        <rel>edit_{{ resource_prefix }}</rel>
                    </rels>
                </activity>
            </activity_container>

            <activity_container scope="{{ vendor_prefix }}.{{ package_prefix }}.{{ resource_prefix }}.resource.modify.subheader_activities" extends="{{ vendor_prefix }}.{{ package_prefix }}.{{ resource_prefix }}.subheader_activities">
            </activity_container>

        </activity_containers>
    </ae:configuration>
</ae:configurations>
