<td class="hb-field {{ css|default('') }}" data-title="{{ _(field_name~'.field_name', translation_domain) }}" {% for attr, val in html_attributes %} {{ attr }}="{{ val }}" {% endfor %}>{{ attribute_value }}</td>
