{%- block field -%} {# this block exists for whitespace control #}
{%- set errors = errors | default([]) -%}

{# Notifications about list constraints to respect #}
{% set min_constraint = _('min', translation_domain) %}
{% set max_constraint = _('max', translation_domain) %}
{% set field_constraints = '' %}
{% if widget_options.min_count is not null or widget_options.max_count is not null %}
    {% set field_constraints = '(%s: %s, %s: %s)'|format(min_constraint, widget_options.min_count|default('-'), max_constraint, widget_options.max_count|default('-')) %}
{% endif %}

<div class="hb-field hb-field__embedded-entity-list {% if widget_enabled %} hb-js-embedded-entity-list{% endif %} {{ css|default('') }}" {% if widget_enabled %} data-jsb="{{ widget_options|json_encode }}" {% endif %}
    data-hb-field-name="{{ field_name }}" {% for attr, val in html_attributes %} {{ attr }}="{{ val }}" {% endfor %}>
    <div class="hb-field__content">
        {% if options.hide_attribute_label is not defined or not options.hide_attribute_label %}
        <div class="hb-field__label">
            {%- set field_title = _(field_name~'.field_title', translation_domain, null, null, '') -%}
            {%- if field_title is empty -%}
                {%- set field_title =  _(field_name~'.field_name', translation_domain, null, null, '') -%}
                {%- set field_title = '%s %s'|format(field_title, field_constraints) -%}
            {%- endif -%}
            {%- set field_description = _(field_name~'.field_description', translation_domain, null, null, '') -%}
            <h3 class="hb-field__title">
                {{ field_title }}
            </h3>
            <p class="hb-field__description">
                {{ field_description }}
            </p>
        </div>
        {% endif %}
        <div class="hb-embed-type-selector">
            {{ rendered_embed_selector|raw }}
        </div>
    </div>
    <div class="hb-field__value">
        <ul class="errors">
            {%- block field_errors  -%}
                {%- for error in errors -%}
                    <li class="error">{{error}}</li>
                {%- endfor -%}
            {%- endblock  -%}
        </ul>
        {% if translations.input_help is defined %}
            <div class="input_help">{{ translations.input_help|raw }}</div>
        {% endif %}
        {% if translations.input_hint is defined %}
            <div class="input_hint">{{ translations.input_hint|raw }}</div>
        {% endif %}
        {% if translations.input_focus_hint is defined %}
            <div class="input_hint focus">{{ translations.input_focus_hint|raw }}</div>
        {% endif %}
        <input type="hidden" name="{{ grouped_field_name }}" value="" />
        <ul class="hb-entity-list">
        {%- for rendered_entity in rendered_entities -%}
            {{- rendered_entity|raw -}}
        {%- endfor -%}
        </ul>
        <ul class="hb-entity-list hb-entity-templates {% if inline_mode %}visuallyhidden{% endif %}" data-fpf-ignore>
        {%- for rendered_type_tpl in rendered_type_templates -%}
            {{- rendered_type_tpl|raw -}}
        {%- endfor -%}
        </ul>
    </div>
    <div class="hb-field__extra">
    </div>
</div>
{%- endblock field -%}
