{% set emphasized = emphasized | default(false) %}
{% set dropdown_name = name | default("dropdown")~(emphasized ? "-emphasized" : "-normal") %}
{% set dropdown_css = css | default("") %}
{% set dropdown_attr = (html_attributes | default({})) | cast_to_array %}
{% if more_activities is not defined or not more_activities %}
    {% set dropdown_css = dropdown_css ~ ' ' ~ dropdown_name ~ '--empty' %}
    {% set more_activities = null %}
{% endif %}

{% set default_content = default_content | default("") %}
{% set default_css = default_css | default("") %}
{% set default_attr = (default_html_attributes | default({})) | cast_to_array %}

{% set more_css = more_css | default("") %}
{% set more_attr = (more_html_attributes | default({})) | cast_to_array %}

{% set toggle_content = toggle_content | default("&#xe800;") %}
{% set toggle_css = toggle_css | default("") %}
{% set toggle_attr = (toggle_html_attributes | default({})) | cast_to_array %}

{% set trigger_id = trigger_id | default(dropdown_name ~ random()) %}
{% set trigger_css = trigger_css | default("") %}
{% set trigger_attr = (trigger_html_attributes | default({})) | cast_to_array %}

<div
    class="{{ dropdown_name }} {{ dropdown_css }}"
    {% for attr, val in dropdown_attr %} {{ attr }}="{{ val }}" {% endfor %}
>
    <input type="checkbox" id="{{ trigger_id }}" class="{{ dropdown_name ~ '__trigger' }} hb-js-flyout-trigger {{ trigger_css }}" {% for attr, val in trigger_attr %} {{ attr }}="{{ val }}" {% endfor %}/>
    <label for="{{ trigger_id }}" class="{{ dropdown_name ~ '__toggle'}} hb-js-flyout-toggle {{ toggle_css }}" {% for attr, val in toggle_attr
        %} {{ attr }}="{{ val }}" {% endfor %}>{%- block default -%}{{ default_content|raw }}{%- endblock -%}
        {% block toggle %}<span class="{{ dropdown_name ~ '__toggle-icon'}}">{{ toggle_content|raw }}</span>{% endblock %}</label><!--
    --><div class="{{ dropdown_name ~ '__more' }} {{ more_css }}" {% for attr, val in more_attr %} {{ attr }}="{{ val }}" {% endfor %}>
    {%- block more -%}
        <ul>
            {%- for rendered_activity in more_activities -%}
            <li>{{ rendered_activity|raw }}
            {%- endfor -%}
        </ul>
    {%- endblock -%}
    </div>
</div>


