{% set emphasized = emphasized | default(false) %}
{% set splitbutton_name = name | default("splitbutton")~(emphasized ? "-emphasized" : "-normal") %}
{% set splitbutton_css = css | default("") %}
{% if toggle_disabled %}
    {% set splitbutton_css = splitbutton_css ~ ' base-dropdown--empty ' ~ splitbutton_name ~ '--empty' %}
    {% set more_activities = null %}
{% endif %}
{% set splitbutton_attr = (html_attributes | default({})) | cast_to_array %}

{% set default_content = default_content | default("") %}
{% set default_css = default_css | default("") %}
{% set default_attr = (default_html_attributes | default({})) | cast_to_array %}

{% set more_css = more_css | default("") %}
{% set more_attr = (more_attr | default({})) | cast_to_array %}

{% set trigger_id = trigger_id | default(splitbutton_name ~ random()) %}
{% set trigger_css = trigger_css | default("") %}
{% set trigger_attr = (trigger_html_attributes | default({})) | cast_to_array %}

{% set toggle_content = toggle_content | default("&#8964;") %}
{% set toggle_css = toggle_css | default("") %}
{% set toggle_attr = (toggle_html_attributes | default({})) | cast_to_array %}


<div
    class="{{ splitbutton_name }} {{ splitbutton_css }} {{splitbutton_name}} actvity-group"
    data-default-activity-rels="{{ default_activity_rels|join(' ') }}"
    {% for attr, val in splitbutton_attr %} {{ attr }}="{{ val }}" {% endfor %}
>
    <div class="{{ splitbutton_name ~ '__default' }} base-dropdown__default {{ default_css }}" {% for attr, val in default_attr %} {{ attr }}="{{ val }}" {% endfor %}>
    {%- block default -%}{{ default_content|raw }}{%- endblock -%}
    </div><!--
    --><input type="checkbox" id="{{ trigger_id }}" class="{{ splitbutton_name ~ '__trigger' }} base-dropdown__trigger hb-js-flyout-trigger {{ trigger_css }}" {% for attr, val in trigger_attr %} {{ attr }}="{{ val }}" {% endfor %} {% if toggle_disabled %}disabled{% endif %} /><!--
    --><label for="{{ trigger_id }}" class="{{ splitbutton_name ~ '__toggle' }} base-dropdown__toggle hb-js-flyout-toggle {{ toggle_css }}" {% for attr, val in toggle_attr
        %} {{ attr }}="{{ val }}" {% endfor %}>{% block toggle %}<span class="{{ splitbutton_name~ '__toggle-icon'}} base-dropdown__toggle-icon">{{ toggle_content|raw }}</span>{% endblock %}</label><!--
    --><div class="{{ splitbutton_name ~ '__more' }} base-dropdown__more {{ more_css }}" {% for attr, val in more_attr %} {{ attr }}="{{ val }}" {% endfor %}>
        {%- block more -%}
        <ul>
            {%- for rendered_activity in more_activities -%}
                <li>{{ rendered_activity|raw }}
            {%- endfor -%}
        </ul>
        {%- endblock -%}
    </div>
</div>


