{% extends _layout %}

{# blocks that are reused in this template #}

{% block toc %}
    <h1>view <b>{{ resource.identifier }}, rev. {{ resource.revision }}</b></h1>
{% endblock %}

{% block primary %}
<div>
    <div class="hb-viewitem-wrapper">
        {{ rendered_resource|raw }}
    </div>
    {% if prev_link %}
        {{ prev_link|raw }}
    {% endif %}

    {% if next_link %}
        {{ next_link|raw }}
    {% endif %}
</div>
{% endblock %}
