{%- set image_url = image_url|default(ac('entity_glance.image_placeholder', 'static/themes/whitelabel/binaries/glance-placeholder.png')) -%}
{% spaceless %}
<div class="hb-glance {{ css }}">
    <img class="hb-glance__image" src="{{ image_url }}" width="{{ image_width }}" height="{{ image_height }}" />
    <span class="hb-glance__title">{{ title }}</span>
    <div class="hb-glance__description">{{ description|default('') }}</div>
</div>
{% endspaceless %}