{% extends _layout %}

{# blocks that are reused in this template #}

{% block pagination %}
{{ rendered_pagination|raw }}
{% endblock %}

{% block primary_activities %}
    <div class="primary-activities">
        {{ _rendered_primary_activities|raw }}
    </div>
{% endblock primary_activities %}


{# blocks that are overridden from the parent template #}

{% block toc %}
    {% if search_value is not empty %}
    <h1>Search: {{ resource_type_name }} resources ({{ number_of_results }} in total)</h1>
    {% else %}
    <h1>{{ resource_type_name }} resources ({{ number_of_results }} in total)</h1>
    {% endif %}
{% endblock %}


{% block primary %}

{% if rendered_parent_node is not empty %}
    <div class="hierarchy-breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
        {% if not loop.first %} <span class="hierarchy-breadcrumbs__separator">&#62;</span> {% endif %}
        <a class="hierarchy-breadcrumbs__item" href="{{ breadcrumb.link }}">{{ breadcrumb.text }}</a>
    {% endfor %}
    </div>

    <!--STARTE-->
    <div class="hb-parent-item">
        <h4 class="hb-parent-item__header">{{ _('parent_resource', _view_settings.get('translation_domain')) }}</h4>
        {{ rendered_parent_node|raw }}
    </div>
    <!--ENDE-->

    <h4 class="hb-child-items__header">{{ _('child_resources', _view_settings.get('translation_domain')) }}</h4>
{% else %}
    <h4 class="hb-child-items__header">{{ _('root_resources', _view_settings.get('translation_domain')) }}</h4>
{% endif %}

<div class="controls controls-top">
    <div class="controls-layout">
        <div class="search-box">
            {{ rendered_search_form|raw }}
        </div><!--
        --><div class="sort-box" >
            <div class="sort__content">
                <div class="sort__control">
                    <label for="{{ sort_trigger_id }}" class="sort__description">{{ _('sort_by') }}</label>
                    {{ rendered_sort_activities|raw }}
                </div>
            </div>
        </div><!--
        --><div class="pager-box">
            {{ block('pagination') }}
        </div><!--
        --><div class="primary-activities-box">
            {{ block('primary_activities') }}
        </div>
    </div>
</div>

{{ rendered_resource_collection|raw }}

<div class="controls controls-bottom">
    <div class="controls-layout">
        <div class="pager-box">
            {{ block('pagination') }}
        </div>
    </div>
</div>

{% endblock primary %}

{% block secondary %}
<!--
<form action="" method="post">
    <input type="text" name="parent_node_id" placeholder="parent" value="{{parent_node.identifier|default('')}}"/>
    <input type="text" name="aggregate_root_identifier" placeholder="id" />
    <input type="text" name="aggregate_root_type" placeholder="type" value="Honeybee\User\Model\Task\MoveUserNode\UserNodeMovedEvent" />
    <input type="number" step="1" min="1" name="revision" placeholder="rev" value="1" />
    <input type="submit" name="moveit" />
</form>
<br>
<br>
-->
{% endblock secondary %}
