{% set activities = [
    {
        activity: {
            label: "Default",
            description: "An activity without a specific type (should fallback to a default one).",
            rels: []
        },
        css: "activity navigational",
        link: "javascript:void(0);"
    },
    {
        activity: {
            label: "Navigational",
            description: "An activity that takes users somewhere.",
            rels: []
        },
        css: "activity navigational",
        link: "javascript:void(0);"
    },
    {
        activity: {
            label: "Mutating",
            description: "An activity that changes data, e.g. saving a document.",
            rels: []
        },
        css: "activity mutating",
        link: "javascript:void(0);"
    },
    {
        activity: {
            label: "Positive",
            description: "An activity that confirms something.",
            rels: []
        },
        css: "activity positive",
        link: "javascript:void(0);"
    },
    {
        activity: {
            label: "Warning",
            description: "An activity that should be used with caution.",
            rels: []
        },
        css: "activity warning",
        link: "javascript:void(0);"
    },
    {
        activity: {
            label: "Destructive",
            description: "An activity that potentially destroys data irreversibly.",
            rels: []
        },
        css: "activity destructive",
        link: "javascript:void(0);"
    },
] %}

<div class="sheet">
    <h1>Clickable</h1>

    <h2>Links</h2>
    <p>
        <a title="Clickable" href="javascript:void(0);">Link</a>
    </p>
    <p>
        <button>Button</button>
    </p>
    <p>
        <button class="emphasized">Button emphasized</button>
    </p>
</div>

<div class="sheet">
    <h1>Activities</h1>

    <p>
        {% for _a in activities %}
            {% set a = _a|merge({css: _a.css ~" normal"}) %}
            {% include "html/activity/link.twig" with a %}
        {% endfor %}
    </p>
    <!-- disabled activities -->
    <p>
        {% for _a in activities %}
            {% set a = _a|merge({css: _a.css ~" normal disabled"}) %}
            {% include "html/activity/link.twig" with a %}
        {% endfor %}
    </p>
</div>

<div class="sheet">
    <h1>Activities (Emphasized)</h1>

    <p>
        {% for _a in activities %}
            {% set a = _a|merge({css: _a.css ~" emphasized"}) %}
            {% include "html/activity/link.twig" with a %}
        {% endfor %}
    </p>
    <!-- disabled emphasized activities -->
    <p>
        {% for _a in activities %}
            {% set a = _a|merge({css: _a.css ~" emphasized disabled"}) %}
            {% include "html/activity/link.twig" with a %}
        {% endfor %}
    </p>
</div>

<div class="sheet theme-preview_activity-groups">
    <h1>Activity Groups</h1>

    <!-- Generic group types -->
    <div class="layout">
        <div class="layout__item u-1-of-4-lap-and-up">
            <h5>Splitbutton</h5>
            {% embed 'html/activity_map/as_splitbutton.twig' with {
                toggle_disabled: false,
                default_activity_rels: "",
            } %}
                {% block default %}
                    {% include "html/activity/link.twig" with activities[0] %}
                {% endblock %}
                {% block more %}
                    <ul>
                        {% for a in activities %}
                            <li>{% include "html/activity/link.twig" with a %}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
            <h5>Splitbutton</h5>
            <h5>(with single activity)</h5>
            {% embed 'html/activity_map/as_splitbutton.twig' with {
                toggle_disabled: true,
                default_activity_rels: "",
            } %}
                {% block default %}
                    {% include "html/activity/link.twig" with activities[0] %}
                {% endblock %}
                {% block more %}
                    <ul>
                        {% for a in activities %}
                            <li>{% include "html/activity/link.twig" with a %}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
        </div><!--
        --><div class="layout__item u-1-of-4-lap-and-up">
            <h5>Dropdown</h5>
            {% embed 'html/activity_map/as_dropdown.twig' with {
                toggle_disabled: false,
                default_activity_rels: "",
            } %}
                {% block default %}
                    {{ activities[0].activity.label }}
                {% endblock %}
                {% block more %}
                    <ul>
                        {% for a in activities %}
                            <li>{% include "html/activity/link.twig" with a %}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
            <h5>Dropdown</h5>
            <h5>(with single activity)</h5>
            {% embed 'html/activity_map/as_dropdown.twig' with {
                toggle_disabled: true,
                default_activity_rels: "",
            } %}
                {% block default %}
                    {{ activities[0].activity.label }}
                {% endblock %}
                {% block more %}
                    <ul>
                        {% for a in activities %}
                            <li>{% include "html/activity/link.twig" with a %}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
        </div><!--
        --><div class="layout__item u-1-of-4-lap-and-up">
            <h5>Splitbutton - Emphasized</h5>
            {% embed 'html/activity_map/as_splitbutton.twig' with {
                emphasized: true,
                toggle_disabled: false,
                default_activity_rels: "",
            } %}
                {% block default %}
                    {% include "html/activity/link.twig" with activities[0] %}
                {% endblock %}
                {% block more %}
                    <ul>
                        {% for a in activities %}
                            <li>{% include "html/activity/link.twig" with a %}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
            <h5>Splitbutton - Emphasized</h5>
            <h5>(with single activity)</h5>
            {% embed 'html/activity_map/as_splitbutton.twig' with {
                emphasized: true,
                toggle_disabled: true,
                default_activity_rels: "",
            } %}
                {% block default %}
                    {% include "html/activity/link.twig" with activities[0] %}
                {% endblock %}
                {% block more %}
                    <ul>
                        {% for a in activities %}
                            <li>{% include "html/activity/link.twig" with a %}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
        </div><!--
        --><div class="layout__item u-1-of-4-lap-and-up">
            <h5>Dropdown - Emphasized</h5>
            {% embed 'html/activity_map/as_dropdown.twig' with {
                emphasized: true,
                toggle_disabled: false,
                default_activity_rels: "",
            } %}
                {% block default %}
                    {{ activities[0].activity.label }}
                {% endblock %}
                {% block more %}
                    <ul>
                        {% for a in activities %}
                            <li>{% include "html/activity/link.twig" with a %}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
            <h5>Dropdown - Emphasized</h5>
            <h5>(with single activity)</h5>
            {% embed 'html/activity_map/as_dropdown.twig' with {
                emphasized: true,
                toggle_disabled: true,
                default_activity_rels: "",
            } %}
                {% block default %}
                    {{ activities[0].activity.label }}
                {% endblock %}
                {% block more %}
                    <ul>
                        {% for a in activities %}
                            <li>{% include "html/activity/link.twig" with a %}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="layout">
        <div class="layout__item lap-and-up-1/2 u-1-of-1-palm">
            <h5>List</h5>
            {% embed 'html/activity_map/as_list.twig' with {
                emphasized: true
            } %}
                {% block more %}
                    <ul>
                        {% for a in activities %}
                            <li>{% include "html/activity/link.twig" with a %}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
        </div><!--
        --><div class="layout__item lap-and-up-1/2 u-1-of-1-palm">
            <h5>List - Emphasized</h5>
            {% embed 'html/activity_map/as_list.twig' with {
                emphasized: true
            } %}
                {% block more %}
                    <ul>
                        {% for a in activities %}
                            {% set a = a|merge({css: a.css ~" emphasized"}) %}
                            <li>{% include "html/activity/link.twig" with a %}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <hr>

    <!-- Activity group types -->
    <div class="activity_group_types">
        <h3>Types</h3>
        {% for type_name, activity_group_bucket in _typed_activity_groups %}
            {% include 'html/dummy/activity_groups.twig' with {
                activity_group_bucket: activity_group_bucket,
                activity_type_name: type_name
            } %}
        {% endfor %}
    </div>

    <hr>

    <!-- Activity group types -->
    <div class="activity_group_custom">
        <h3>Custom settings</h3>
        <p>
            Inner activities can have specific settings
        </p>
        <div class="layout">
            <div class="layout__item u-1-of-2-lap-and-up">
                <h5>Typed splitbutton + differently typed default-activity </h5>
                {% embed 'html/activity_map/as_splitbutton.twig' with {
                    emphasized: true,
                    toggle_disabled: false,
                    default_activity_rels: "promote",
                } %}
                    {% block default %}
                        {% include "html/activity/link.twig" with activities[0]|merge({
                            activity: {
                                label: "Positive",
                                description: "An activity that confirms something.",
                                rels: []
                            },
                            css: "activity positive"
                        }) %}
                    {% endblock %}
                    {% block more %}
                        <ul>
                            {% for a in activities %}
                                <li>{% include "html/activity/link.twig" with a %}</li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                {% endembed %}
            </div><!--
            --><div class="layout__item u-1-of-2-lap-and-up">
                <h5>Splitbutton warns on destructive activities</h5>
                {% embed 'html/activity_map/as_splitbutton.twig' with {
                    emphasized: true,
                    toggle_disabled: false,
                    default_activity_rels: "demote",
                    css: "warning"
                } %}
                    {% block default %}
                        {% include "html/activity/link.twig" with activities[0]|merge({
                            activity: {
                                label: "Custom",
                                description: "An custom activity.",
                                rels: []
                            }
                        }) %}
                    {% endblock %}
                    {% block more %}
                        <ul>
                            {% for a in _destructive_activities %}
                                <li>{% include "html/activity/link.twig" with a %}</li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
        <div class="layout">
            <div class="layout__item u-1-of-2-lap-and-up">
                <h5>Splitbutton + activities with custom template</h5>
                {{ _activity_custom_template_activity_group|raw }}
            </div><!--
            --><div class="layout__item u-1-of-2-lap-and-up">
            </div>
        </div>
    </div>
</div>
